{% extends 'index/base.html' %}
{% block title %} Av. Samet Varol {{ blogpost.title }} {% endblock %}
{% block main %}
	<!-- Header -->
	<header>

		<!-- Nav -->
		<nav id="nav" class="navbar">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="{% url 'index:index'   %}">
							<img class="logo" src="/static/img/logo.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="{% url 'index:index' %}">Anasayfa</a></li>
					<li><a href="{% url 'index:index' %}#about">Hakkımızda</a></li>
			    <!--<li><a href="#portfolio">Portfolio</a></li>-->
					<li><a href="{% url 'index:index' %}#Service">Faaliyet Alanlarımız</a></li>
				<!--<li><a href="#pricing">Prices</a></li> -->
				<!--<li><a href="#team">Team</a></li>-->
					<li class="has-dropdown"><a href="#blog">Yazılarım</a>
						<ul class="dropdown">
							<li><a href="{% url 'home:blog' %}">Makaleler</a></li>
						</ul>
					</li>
					<li><a href="{% url 'index:index' %}#contact">İletişim</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- header wrapper -->
        <!--
		<div class="header-wrapper sm-padding bg-grey">
			<div class="container">
				<h2>Blog Page</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="../../../index/templates/index/index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="../../../index/templates/index/index.html#blog">Blog</a></li>
					<li class="breadcrumb-item active">Single Post</li>
				</ul>
			</div>
		</div>
	    -->
		<!-- /header wrapper -->

	</header>
	<!-- /Header -->

	<!-- Blog -->



	<div id="blog" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Main -->
				<main id="main" class="col-md-9">
					<div class="blog">
						<div class="blog-img">

							<img class="img-responsive" src="/{{ blogpost.image_url }}" alt="">

						</div>
						<div class="blog-content">
							<ul class="blog-meta">
                                    {% if blogpost %}
								<li><i class="fa fa-user"></i>{{ blogpost.author }}</li>
								<li><i class="fa fa-clock-o"></i>{{ blogpost.created_date|date:'j-M' }}</li>
								<li><i class="fa fa-tags"></i>{{ blogpost.get_tag_display }}</li>

							</ul>
							<h3 class="content-markdown">{{ blogpost.title }}</h3>
							<p class="content-markdown">{{ blogpost.text }}</p>


						</div>



						<!-- blog tags -->
						<div class="blog-tags">
							<h5>Etiketler :</h5>

							<a href="#"><i class="fa fa-tag"></i>{{ blogpost.get_tag_display }}</a>

						</div>
                        {% endif %}
						<!-- blog tags -->

						<!-- blog author -->
						<div class="blog-author">
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="/static/img/samet.jpg" alt="">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<h3>Samet Varol</h3>
										<div class="author-social">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-instagram"></i></a>
										</div>
									</div>
									<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
								</div>
							</div>
						</div>
						<!-- /blog author -->

						<!-- blog comments -->
	<!-- <div class="blog-comments">
							<h3 class="title">(13) Comments</h3>
-->
							<!-- comment -->
<!--						<div class="media">
								<div class="media-left">
									<img class="media-object" src="/static/img/perso2.jpg" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">Joe Doe<span class="time">2 min ago</span><a href="#" class="reply">Reply <i class="fa fa-reply"></i></a></h4>
									<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
								</div>
							</div>
							 /comment -->

							<!-- comment -->
<!--							<div class="media">
								<div class="media-left">
									<img class="media-object" src="/static/img/perso1.jpg" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">Joe Doe<span class="time">2 min ago</span><a href="#" class="reply">Reply <i class="fa fa-reply"></i></a></h4>
									<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
								</div>

								author reply comment -->
		<!--						<div class="media author">
									<div class="media-left">
										<img class="media-object" src="/static/img/perso2.jpg" alt="">
									</div>
									<div class="media-body">
										<h4 class="media-heading">Joe Doe<span class="time">2 min ago</span><a href="#" class="reply">Reply <i class="fa fa-reply"></i></a></h4>
										<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
									</div>
								</div>
								/comment -->

								<!-- reply comment -->
		<!--						<div class="media">
									<div class="media-left">
										<img class="media-object" src="/static/img/perso2.jpg" alt="">
									</div>
									<div class="media-body">
										<h4 class="media-heading">Joe Doe<span class="time">2 min ago</span><a href="#" class="reply">Reply <i class="fa fa-reply"></i></a></h4>
										<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
									</div>
								</div>
								 /comment -->

			<!--				</div>
							 /comment -->


							<!-- comment -->
		<!--					<div class="media">
								<div class="media-left">
									<img class="media-object" src="/static/img/perso1.jpg" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">Joe Doe<span class="time">2 min ago</span><a href="#" class="reply">Reply <i class="fa fa-reply"></i></a></h4>
									<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
								</div>
							</div>
							 /comment -->

			<!--			</div>
						 /blog comments -->

						<!-- reply form -->
			<!--			<div class="reply-form">
							<h3 class="title">Leave a reply</h3>
							<form>
								<input class="input" type="text" placeholder="Name">
								<input class="input" type="email" placeholder="Email">
								<textarea placeholder="Add Your Commment"></textarea>
								<button type="submit" class="main-btn">Submit</button>
							</form>
						</div>
						 /reply form -->
				<!--	</div> -->
				</main>
				<!-- /Main -->


				<!-- Aside -->
				<aside id="aside" class="col-md-3">

					<!-- Search -->
					<div class="widget">
						<div class="widget-search">
							<input class="search-input" type="text" placeholder="search">
							<button class="search-btn" type="button"><i class="fa fa-search"></i></button>
						</div>
					</div>
					<!-- /Search -->


					<!-- Category -->
					<div class="widget">
						<h3 class="title">Konu</h3>
						<div class="widget-category">
                            {% if distinct_tag_number %}
                                {% for tag in distinct_tag_number %}
							    <a href="#">{{ tag.tag }}

                                <span>({{ tag.id__count }})</span></a>

                                {% endfor %}
                            {% endif %}


                        </div>
					</div>
					<!-- /Category -->

					<!-- Posts sidebar -->
					<div class="widget">
						<h3 class="title">Populare Posts</h3>

						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<img src="/static/img/post1.jpg" alt=""> Blog title goes here
							</a>
							<ul class="blog-meta">
								<li>Oct 18, 2017</li>
							</ul>
						</div>
						<!-- /single post -->

						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<img src="/static/img/post2.jpg" alt=""> Blog title goes here
							</a>
							<ul class="blog-meta">
								<li>Oct 18, 2017</li>
							</ul>
						</div>
						<!-- /single post -->


						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<img src="/static/img/post3.jpg" alt=""> Blog title goes here
							</a>
							<ul class="blog-meta">
								<li>Oct 18, 2017</li>
							</ul>
						</div>
						<!-- /single post -->

					</div>
					<!-- /Posts sidebar -->

					<!-- Tags -->
		<!--			<div class="widget">
						<h3 class="title">Tags</h3>

						<div class="widget-tags">
							<a href="#"></a>

						</div>

					</div>
					<!-- /Tags -->

				</aside>
				<!-- /Aside -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->

{% endblock %}
